.custom__select {
  width: 100%;
  margin-bottom: 15px;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-color: white;
    background-position-x: 100%;
    background-position-y: 5px;
    margin-right: 2rem;
    width: 100%;
    min-height: 38px;
    padding: 5px 15px;
    border: 1px solid #04392C;
    font-family: "Open Sans";
    border-radius: 4px;
    &:focus-visible {
      outline: 1px solid #028372;
    }
    &_option{
      color: #04392C;
    }
  }
}