
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: #04392C;
    font-family: "Open Sans";
}
#root, #__next {
    isolation: isolate;
}
#root {
    background-color: #eeeff3;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    &:after {
        content: '';
        background-color: #BBC3CF;
        width: 90%;
        z-index: -1;
        position: absolute;
        top: 0;
        border-radius: 0 0 15px 15px;
        background-repeat: no-repeat;
        background-size: contain;
        left: 50%;
        height: 25vh;
        transform: translateX(-50%);
        box-shadow: 0 0 26px 9px #2d2d2d26;
    }
}


.App {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #eeeff3;
    box-shadow: 0 0 26px 9px #2d2d2d26;
    margin-top: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    height: fit-content;
}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

