.form {
  &_wrapper {
    margin-bottom: 20px;
    width: 100%;
    .custom__input {
      &:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  &_row {
    display: flex;
  }


}